/**
 * Input Styles
 */

@use '../../styles/variables' as *;

.input-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  &--full-width {
    width: 100%;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $color-text-primary;
  }

  &__required {
    color: $color-danger;
    margin-left: $spacing-1;
  }

  &__error {
    font-size: $font-size-sm;
    color: $color-danger;
  }

  &__helper {
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  &--error {
    .input {
      border-color: $color-danger;

      &:focus {
        border-color: $color-danger;
        box-shadow: 0 0 0 3px rgba($color-danger, 0.1);
      }
    }
  }

  &__icon {
    position: absolute;
    left: $spacing-3;
    color: $color-text-secondary;
    pointer-events: none;
  }
}

.input {
  width: 100%;
  padding: $spacing-3;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $color-text-primary;
  background-color: $color-white;
  border: 1px solid $color-border-medium;
  border-radius: $radius-base;
  transition: all $transition-fast;

  &--with-icon {
    padding-left: calc(#{$spacing-3} + 1.5rem + #{$spacing-2});
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }

  &::placeholder {
    color: $color-text-tertiary;
  }

  &:disabled {
    background-color: $color-gray-100;
    cursor: not-allowed;
  }
}
