/**
 * MainLayout Styles
 */

@use '../../styles/variables' as *;

.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: $color-bg-secondary;

  &__content {
    flex: 1;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (max-width: $breakpoint-md) {
      margin-left: 70px;
    }
  }

  &__main {
    flex: 1;
    padding: $spacing-6;

    @media (max-width: $breakpoint-md) {
      padding: $spacing-4;
    }
  }
}
