.page-title {
  font-size: 42px;
  font-weight: 700;
}

.dashboard-card {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .text-3xl {
    line-height: 1;
  }
}
