.sidebar {
  width: 260px;
  background-color: #111827;
  color: white;
  height: 100vh;
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar-logo {
  font-size: 28px;
  font-weight: 700;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-menu a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu a:hover {
  color: white;
}
.sidebar-languages {
  margin-top: auto;
  border-top: 1px solid #374151;
  padding-top: 20px;
}

.sidebar-languages p {
  color: #9ca3af;
}